# Nuxt dev/build outputs
.nitro

dist

app-data/db
app-data/nitro
# Node dependencies
node_modules

.gitignore
.git

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
