# Nuxt dev/build outputs
.output
app-data/db
app-data/nitro
app-data/temp
.nuxt
.nitro
.cache
dist
content-app

docs2/.vitepress/dist
docs2/.vitepress/cache

test
/temp

.docker
# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
